<div>
  <header class="page-header header container-fluid">
    <div class="overlay">
      <div class="careers">
        <h5>
          Career actually has two definitions. The word career is often used to refer to a profession, 
          occupation, trade or vocation. A career could define what you do for a living and range from 
          those that require extensive training and education to those you can perform with only a high school 
          diploma and a willingness to learn. A career could mean working as a doctor, lawyer, teacher, carpenter, 
          veterinary assistant, electrician, cashier, teacher or hairstylist. 
          <br/>
          <br/>
          Career has another definition as well, though. It also refers to the progress and actions you have taken 
          throughout the working years of your life, especially as they relate to your occupation. It is comprised 
          of the different jobs you have held, titles you have earned and work you have accomplished over a long 
          period of time. When viewed in this context, a career includes everything related to your career 
          development, including your choice or profession and advancement. Your single career could include a 
          variety of different paths.
        </h5>
      </div>
    </div>
  </header>
</div>
