.header {
  background-image: url('../../assets/images/careers.png');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 92.9vh;
  overflow: auto;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.careers {
  text-align: center;
  /* margin: 0 auto;  */
  float: none; 
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10px;
}

h1 {
  color:burlywood;
  text-align: center;
}

h5 {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
}