.header {
  background-image: url('../../assets/images/contact-us.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 90vh;
  overflow: auto;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

h1 {
  color:burlywood;
  text-align: center;
}

h5 {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
}