<header class="page-header header container-fluid">
  
  <div class="overlay">
    <div class="card text-center" style="width: calc(50% - 20px);">
      <form>        
        <div class="form-row">
          <div class="col-md-4 mb-3 card">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" required>
            <div *ngIf = "!isTitleValid" style="color: red;">
              Please provide Job Title.
            </div>
          </div>

          <div class="col-md-4 mb-3 card">
            <label for="post-type">Post Type</label>
            <select id="post-type" class="form-control">
              <option value="NONE" selected>Select Job Level</option>
              <option value="ENTRY_LEVEL">Entry Level</option>
              <option value="MID_LEVEL">Mid Level</option>
              <option value="SENIOR_LEVEL">Senior Level</option>
              <option>Other</option>
            </select>
            <div *ngIf = "!isJobTypeValid" style="color: red;">
              Please select Post Type.
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-10 mb-4 card">
            <label for="description">Description</label>
            <textarea type="description" class="form-control" rows="10" id="description"></textarea>
            <div *ngIf = "!isDescriptionValid" style="color: red;">
              Please enter some description.
            </div>
          </div>
        </div>

        <div *ngIf="isError">
          <div class="alert alert-danger" role="alert">
            {{ msg }}
          </div>
        </div>
  
        <button class="btn btn-primary" type="submit" (click) = onSubmit()>Submit form</button>
      </form>
    </div>
  </div>
</header>
