.card {
  margin: 0 auto; 
  float: none; 
  margin-top: 4rem;
  margin-bottom: 10px; 
  border: 0;
  background: rgba(0, 0, 0, 0);
}

label {
  color: rgb(24, 255, 216);
  font-size: medium;
}

.header {
  background-image: url('../../assets/images/for-hire.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 90vh;
  overflow: auto;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.btn-view-jobs {
  position: absolute;
  right: 3%;
  top: 5%;
}

