<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th style="width: 5%;" scope="col"><label>S.No.</label></th>
      <th style="width: 30%;" scope="col"><label>Full Name</label></th>
      <th style="width: 20%;" scope="col"><label>Address</label></th>
      <th style="width: 20%;" scope="col"><label>Qualification</label></th>
      <th style="width: 20%;" scope="col"><label>Action</label></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let applicant of applicantsResponse; index as i">
      <th scope="row">{{i + 1}}</th>
      <td>{{applicant.user.name}}</td>
      <td>{{applicant.user.address}}</td>
      <td>{{applicant.user.qualification}}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="goToLink(applicant.cvLink)">View Resume</button>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li *ngIf="page == 1; else previous" class="page-item disabled">
      <a class="page-link" tabindex="-1">Previous</a>
    </li>     
    <ng-template #previous>
      <li class="page-item">
        <a class="page-link" value="previous" (click)="pageChange('previous')">Previous</a>
      </li>
    </ng-template>
    <li class="page-item">
      <a class="page-link">{{this.page}}</a>
    </li>
    <li *ngIf="isLastPage; else next" class="page-item disabled">
      <a class="page-link" tabindex="-1">Next</a>
    </li>     
    <ng-template #next>
      <li class="page-item">
        <a class="page-link" value="next" (click)="pageChange('next')">Next</a>
      </li>
    </ng-template>
  </ul>
</nav>

<p class="e2e-inner-html-interpolated">{{cvLink}}</p>


