<div class="card text-center" style="width: calc(25% - 20px);">
  <img class="card-img-top" src="../../assets/images/savvy-apps.png" alt="Card image cap">
  <div class="card-body">
    <div *ngIf="isError">
      <div class="alert alert-danger" role="alert">
        Username or password is incorrect.
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" id="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="password" id="password" [(ngModel)]="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-success" (click) = "requestLogin()">Login</button>
  </div>  

  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/signup">New around here? Sign up</a>
  <a class="dropdown-item" href="#">Forgot password?</a>
</div>

