<div class="content" role="main">
  <div *ngIf="isAuthorized()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">
        <img
          src="../../assets/images/savvy.jpg"
          width="50"
          height="40"
          width="50"
          alt=""
          loading="lazy"
        />
      </a>
      <a class="navbar-brand" href="/home">Savvy</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/careers"
              >About <span class="sr-only">(current)</span></a
            >
          </li>
          <li *ngIf="isCompany(); else searchJob" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Job
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="job/add">Add Job</a>
              <a class="dropdown-item" href="/company/jobs">See All Jobs</a>
            </div>
          </li>
          <ng-template #searchJob>
            <a class="nav-link" href="jobs/view">See All Jobs</a>
          </ng-template>

          <li class="nav-item">
            <a class="nav-link" href="contactus">Contact Us</a>
          </li>
        </ul>
        <div class="dropdown">
          <button
            class="btn btn-info dropdown-toggle"
            type="button"
            data-toggle="dropdown"
          >
            Profile<span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <!-- <a class="dropdown-item" href="about">About</a> -->
            <a class="dropdown-item" (click) = "logout()">Log Out</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
