<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../assets/images/letsenroll.png" alt="Card image cap">
</div>
<div class="card text-center"  style="width: 55rem;">
  <form>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName" placeholder="Full Name" required>
        <div *ngIf = "!isFullNameValid" style="color: red;">
          Please provide your Full Name.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="Phone" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="email">E-mail</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
          </div>
          <input type="text" class="form-control" id="email" placeholder="E-mail" aria-describedby="inputGroupPrepend3" required>
        </div>
        <div *ngIf = "!isEmailValid" style="color: red;">
          Invalid email address.
        </div>    
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
        <div *ngIf = "!isPasswordValid" style="color: red;">
          Invalid password.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="re-password">Retype Password</label>
        <input type="password" class="form-control" id="re-password">
        <div *ngIf = "!isRePasswordValid" style="color: red;">
          Password does not match.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" placeholder="Address" required>
      </div>
    </div>

    <div>
      <fieldset class="form-group">
        <div class="row" id = "userType">
          <legend class="col-form-label col-sm-2 pt-0">Register as : </legend>
          <div class="custom-control custom-radio custom-control-inline">
            <input class="form-check-input" type="radio" name="userType" [value]="1" [(ngModel)]="type" [ngModel]="options" (change)="onItemChange($event)" value = "COMPANY">
            <label class="form-check-label" for="customRadioInline2">Employer</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input class="form-check-input" type="radio" name="userType" [value]="2" [(ngModel)]="type" [ngModel]="options" (change)="onItemChange($event)" value = "STUDENT">
            <label class="form-check-label" for="customRadioInline2">Job Seeker</label>
          </div>
        </div>
      </fieldset>
    </div>
  
  
    <div *ngIf="type == 2" class="form-row">
      <div class="col-md-4 mb-3">
        <label for="qualification">Qualification</label>
        <select id="qualification" class="form-control">
          <option value="NONE" selected>Select Qualification</option>
          <option value="DOCTRATE">Ph.D</option>
          <option value="MASTERS">Masters</option>
          <option value="BACHELORS">Bachelors</option>
          <option value="HIGH_SCHOOL">Intermediate</option>
          <option value="INCOMPLETE">Incomplete</option>
          <option value="INCOMPLETE">Other</option>
        </select>
        <div *ngIf = "!isQualificationValid" style="color: red;">
          Please select your qualification.
        </div>
      </div>
    </div>

    <div *ngIf="isError">
      <div class="alert alert-danger" role="alert">
        {{ msg }}
      </div>
    </div>
  
    <button class="btn btn-primary" type="submit" (click) = onSubmit()>Submit form</button>
  </form>
</div>
