<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th style="width: 5%;" scope="col"><label>S.No.</label></th>
      <th style="width: 35%;" scope="col"><label>Title</label></th>
      <th style="width: 25%;" scope="col">
      
        <div *ngIf="userType == 'STUDENT'; else company">
          <label>Post Type</label>
          <select id="filter-type" (change)="useFilter($event.target.value)" class="form-control" style="width: 30%; display: inline; margin-left: 3%;">
            <option value="NONE" selected>Filter</option>
            <option value="ENTRY_LEVEL">Entry-Level</option>
            <option value="MID_LEVEL">Medium-Level</option>
            <option value="SENIOR_LEVEL">Senior-Level</option>
          </select>
        </div>
        <ng-template #company>
          Post Type
        </ng-template>
      </th>
      <th style="width: 35%;" colspan="2" scope="col"><label>Actions</label></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let job of jobsResponse; index as i">
      <th scope="row">{{i + 1}}</th>
      <td>{{job.title}}</td>
      <td>{{job.postType}}</td>
      <td *ngIf="userType == 'STUDENT'"><button type="button" class="btn btn-success" (click) = "apply(job.postId)">Apply</button></td>
      <td *ngIf="userType == 'COMPANY'">
        <button type="button" class="btn btn-success" (click) = "viewApplicant(job.postId)">Applicants</button>
        <button type="button" class="btn btn-primary" (click) = "edit(job.postId)">Edit</button>
        <button type="button" class="btn btn-danger" (click) = "delete(job.postId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li *ngIf="page == 1; else previous" class="page-item disabled">
      <a class="page-link" tabindex="-1">Previous</a>
    </li>     
    <ng-template #previous>
      <li class="page-item">
        <a class="page-link" value="previous" (click)="pageChange('previous')">Previous</a>
      </li>
    </ng-template>
    <li class="page-item">
      <a class="page-link">{{this.page}}</a>
    </li>
    <li *ngIf="isLastPage; else next" class="page-item disabled">
      <a class="page-link" tabindex="-1">Next</a>
    </li>     
    <ng-template #next>
      <li class="page-item">
        <a class="page-link" value="next" (click)="pageChange('next')">Next</a>
      </li>
    </ng-template>
  </ul>
</nav>
