.header {
  background-image: url('../../assets/images/home.png');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  overflow: auto;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.description {
  left: 50%;
  top: 45%;
  text-align: center;
  margin: 0 auto; 
  float: none; 
  margin-top: 20em;
  margin-bottom: 10px;
}
.description h1 {
  color:burlywood;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
