<div>
  <header class="page-header header container-fluid">
    <div class="overlay">
      <div class="description">
        <h1>Welcome to Savvy!</h1>
        <p>We help you find your dream job in simple steps!</p>
      </div>
    </div>
  </header>
</div>

