@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-top: 3rem;
  margin-bottom: 10px; /* Added */
  width: 25rem; height: 5rem;
}
.container-md{
  margin-top: 1rem;
  border: ridge;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
