<div *ngIf = "!isError">
  <div class="container-md">
    <h1 *ngIf = "postUser !== undefined">{{ postUser.post.title }}</h1>
    <h5 *ngIf = "postUser !== undefined">{{ postUser.user.name }}</h5 >
    <h5 *ngIf = "postUser !== undefined">{{ postUser.user.email }}</h5 >
    <h5 *ngIf = "postUser !== undefined">{{ postUser.user.address }}</h5 >
  </div>
  <div class="container-md">
    <p *ngIf = "postUser !== undefined">{{ postUser.post.description }}</p>
  </div>
</div>
<div class="card text-center">
  <div style="text-align: center;">
    <ul>
      <li *ngFor="let file of files">
        <span id="file-label">
          {{ file.data.name }}
        </span>
      </li>
    </ul>

    <input
      type="file"
      #fileUpload
      id="fileUpload"
      name="fileUpload"
      accept="pdf/*"
      style="display: none;"
    />
    <button *ngIf="!isSaved"
      type="button" 
      class="btn btn-primary"
      [class.spinner]="loading"
      [disabled]="loading"
      (click)="onClick()"
    >
      Upload Resume
    </button>
    <button *ngIf="isSaved"
      type="button" 
      class="btn btn-success"
      [class.spinner]="loading"
      [disabled]="loading"
    >
      Success
    </button>
    <div *ngIf="!isSaved && result" class="alert alert-danger" role="alert">
      {{ msg }}. Please try again.
    </div>
  </div>
</div>

<div class="card text-center" style="border : 0;">
  <button
  type="button" 
  class="btn btn-success"
  [disabled]="!canApply"
  [class.spinner]="loading"
  (click)="onApply()"
  >
    Apply
  </button>
  <div *ngIf="applyResponse && applySuccess" style="margin-top : 1em;">
    <div class="alert alert-success" role="success">
      Your application has been submitted successfully.
    </div>
  </div>

  <div *ngIf="applyResponse && !applySuccess" style="margin-top : 1em;">
    <div class="alert alert-danger" role="alert">
      {{msg}}
    </div>
  </div>
</div>
